.search_bar {
    margin-top: 20px;
    margin-left: 500px;
}

.search_bar-container {
    position: relative;
    width: 30rem;
    background-color: #e6eba2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    color: #ce7cf5;
}

.search_bar-container>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search_bar input {
    background-color: transparent;
    border: none;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}

.search_bar button {
    display: inline-block;
    width: fit-content;
    background-color: #e5f516;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
}